# Git
.git
.gitignore

# Azure
.azure
infra

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.venv
venv

# VS Code
.vscode

# Documentation
README.md
LICENSE.md

# Scripts
bootstrap.sh
